
/*Estudios*/

.study-card{
    max-width: 550px;
}

.study-header{
    flex-direction: row;
}

.study-head{
    width: 70%;
}

.study-details{
    flex-direction: column;
    gap: 0.5rem;
}

.study-body{
    width: 100%;
}

/*CURSO*/

.curses-cards-container{
    flex-direction: row;
    align-items: normal;
}

.curse{
    padding: 1.5rem 1.5rem;
    max-width:45%;
    flex-direction: row;
}

.curse-head{
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}


/*PROYECTO*/

.project{
    max-width: 85%;
}

.project-title{
    justify-content: space-evenly;
}

.project-footer{
    flex-direction: row;
}

.project-footer-head,
.project-partners{
    width: 50%;
    align-items: center;
}

.partners-container{
    margin: auto ;
}

.project-tools-container{
    width: 100%;
}
