:root{
    /*Text Size*/
    --title:35px;
    --subtitle:22px;
    --normal:16px;
}

main section{
    padding-left:40px;
    padding-right: 40px;
}

/*Estudios*/

.studies-cards-container{
    align-items: normal;
}

.study-card{
    justify-content: space-around;
    max-width: 45%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.study-details{
    text-align: center;
}

/*CURSO*/

.curses-cards-container{
    flex-direction: row;
    align-items: normal;
}

.curse-card{
    padding: 1.5rem 1.5rem;
    max-width:45%;
    flex-direction: row;
}

.curse-head,
.curse-body{
    width: 45%;
}

.curse-head{
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}


/*PROYECTO*/

.project-card{
    justify-content: space-around;
    max-width: 600px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.project-title{
    justify-content: space-around;
}

.project-footer{
    flex-direction: row;
}

.project-footer-head,
.project-partners{
    width: 50%;
    align-items: center;
}

.partners-container{
    margin: auto ;
}

.project-tools-container{
    width: 100%;
}
